# Ignore virtual environment directories
venv/
env/
.venv/

# MacOS hidden files
.DS_Store

# VS Code
.vscode/

# Python
__pycache__/
*.pyc

# Logs
# (ignoring Journal files so that my commander ID isn't included)
*.log
